<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-columns">
      <div class="footer-column">
        <span class="footer-title">Explore</span>
        <a href="/">Home</a>
        <a href="/questions">Questions</a>
        <a href="/articles">Articles</a>
        <a href="/tutorials">Tutorials</a>
      </div>
      
      <div class="footer-column">
        <span class="footer-title">Support</span>
        <a href="/faq">FAQs</a>
        <a href="/help">Help</a>
        <a href="/contact">Contact us</a>
      </div>
      
      <div class="footer-column">
        <span class="footer-title">Stay connected</span>
        <div class="social-links">
          <a href="https://instagram.com" target="_blank">
            <img src="/icons/instagram.png" alt="Instagram" width="25" height="25" />
          </a>
          <a href="https://facebook.com" target="_blank">
            <img src="/icons/facebook.png" alt="Facebook" width="25" height="25" />
          </a>
          <a href="https://twitter.com" target="_blank">
            <img src="/icons/twitter.png" alt="Twitter" width="25" height="25" />
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <span class="footer-copyright">GoPick@Deakin 2025</span>
      <div class="footer-links">
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms</a>
        <a href="/conduct">Code of Conduct</a>
      </div>
    </div>
  </div>
</footer>
