<header>
  <div id="topNav">
    <a href="/homepage" id="logo">
      <img src="/icons/GPIcon.png" alt="Logo" width="50" height="50" />
      <h1>GoPick</h1>
    </a>

    <div class="search-container">
      <input type="text" class="search-bar" placeholder="Search products..." />
      <button class="search-btn">🔍</button>
    </div>
    <a href="/cart">
      <img src="/icons/cart.png" alt="cart" width="30" height="30" >
    </a>
  </div>

  <nav>
    <a href="#">Products</a>
  </nav>
</header>
